.progress-holder {
    width: 50%;
    margin-left: auto;
    margin-bottom: 1em;
}

#percentage-bar {
    height: 5px;
    border-radius: 1px;
    background: linear-gradient(left, #d3d3d3 , #a8a8a8 50%, #151515);
}

.progress-bar__primary {
    background: transparent;
    text-align: center;
    vertical-align: middle;
    color: black;
    top: .5em;
}

.progress-bar__secondary {
    background: transparent;
    text-align: center;
    color: black;
    top: .5em;
    right: 0;
}

@media screen and (max-width: 500px) {
    .progress-holder {
        width: 100%;
    }
}