<div class="card progress-holder">
    <div style="text-align: center; font-weight: bold">Talk of the Town:</div>
    <p class="oned" style="display: inline-block">30% Positive</p>
    <p class="twod" style="display: inline-block; float: right;">70% Negative</p>
    <div id="percentage-bar" class="progress-bar progress-bar--material">
        <!-- <div class="progress-bar__primary progress-bar--material__primary" style="width:30%"></div>
        <div class="progress-bar__secondary progress-bar--material__secondary" style="width:70%">70% Negative</div> -->
      </div>
</div>
