<form class="form-holder">
    <input type="text" name="search" placeholder="Search..." #search>
    <button type="submit" (click)="submitSearchQuery(search.value)"><i class="fa fa-search"></i></button>
</form><br>

<main>
    <app-progressbar></app-progressbar>
  <input id="tab1" type="radio" name="tabs" checked>
  <label for="tab1">All News Threads</label>

  <input id="tab2" type="radio" name="tabs">
  <label for="tab2">Social Media Threads</label>

  <input id="tab3" type="radio" name="tabs">
  <label for="tab3">Major Media Threads</label>
    
  <section id="content1">
    <app-cardholder *ngIf="searchQuery !== undefined" type="news" [query]="searchQuery"></app-cardholder>
  </section>
    
  <section id="content2">
    <app-cardholder *ngIf="searchQuery !== undefined" type="social" [query]="searchQuery"></app-cardholder>
  </section>
    
  <section id="content3">
    <app-cardholder *ngIf="searchQuery !== undefined" type="majormedia" [query]="searchQuery"></app-cardholder>
  </section>
    
  <!--<section id="content4">
    <app-cardholder></app-cardholder>
  </section> -->
    
</main>

