.form-holder {
    display: flex;
    flex-direction: horizontal;
    justify-content: flex-end;
    align-items: center;
    padding-top: 1em;
    padding-left: 12px;
}

input[type=text] {
    width: 200px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 20px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    text-align: left;
    display: inline;
    margin: 0 0;
}

input[type=text]:focus {
    width: 100%;
    text-align: left;
}

button[type=submit] {
    box-sizing: border-box;
    width: 50px;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: #ddd;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 15px 12px 15px;
    -webkit-transition: width 0.6s ease-in-out;
    transition: width 0.6s ease-in-out;
    text-align: center;
    display: inline;
    margin: 0 0;
}
  
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  padding: 50px 0;
  font-weight: 400;
  text-align: center;
}

p {
  margin: 0 0 20px;
  line-height: 1.5;
}

main {
  width: 100%;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  padding-top: 10px;
  margin: 0 auto;
  background: #fff;
}

section {
  display: none;
  padding: 20px 0 0;
  border-top: 1px solid #ddd;
}

input {
  display: none;
}

label {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 15px 25px;
  font-weight: 600;
  text-align: center;
  color: #bbb;
  border: 1px solid transparent;
}

label:before {
  font-family: fontawesome;
  font-weight: normal;
  margin-right: 10px;
}

label[for='tab1']:before { content: url('../../assets/img/icons/allNewsIcon.png'); }
label[for='tab2']:before { content: url('../../assets/img/icons/socialmediaicon.png'); }
label[for='tab3']:before { content: url('../../assets/img/icons/majorNewsIcon.png'); }

label:hover {
  color: #888;
  cursor: pointer;
}

input:checked + label {
  color: #555;
  border: 1px solid #ddd;
  border-top: 2px solid orange;
  border-bottom: 1px solid #fff;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3 {
  display: block;
}

@media screen and (max-width: 650px) {
  label {
    font-size: 0;
  }
  label:before {
    margin: 0;
    font-size: 18px;
  }
}

@media screen and (max-width: 400px) {
  label {
    padding: 15px;
  }
}