<form class="form-holder">
    <input type="text" name="search" placeholder="Search...">
    <button type="submit"><i class="fa fa-search"></i></button>
</form><br>

<main>
  <input id="tab1" type="radio" name="tabs" checked>
  <label for="tab1">All News Threads</label>

  <input id="tab2" type="radio" name="tabs">
  <label for="tab2">Social Media Threads</label>

  <input id="tab3" type="radio" name="tabs">
  <label for="tab3">Major Outlet Threads</label>

  <input id="tab4" type="radio" name="tabs">
  <label for="tab4">Miscellaneous Threads</label>
    
  <section id="content1">
    <app-progressbar></app-progressbar>
    <app-cardholder></app-cardholder>
  </section>
    
  <section id="content2">
    <app-progressbar></app-progressbar>
    <app-cardholder></app-cardholder>
  </section>
    
  <section id="content3">
    <app-progressbar></app-progressbar>
    <app-cardholder></app-cardholder>
  </section>
    
  <section id="content4">
    <app-progressbar></app-progressbar>
    <app-cardholder></app-cardholder>
  </section>
    
</main>
