.card-viewer {
    width: auto;
    height: 85%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.cardholder {
    width: auto;
    height: 500px;
    background-color: #190847;
    border-radius: 10px;
    overflow: hidden;
    margin: 0 1.5em;
}

@media (max-width: 600px) {
    .card-viewer {
        flex-direction: column;
        width: 100%;
    }

    .cardholder {
        margin: 1em 0;
        width: 100%;
        height: 100%;
    }
}

.toolbar {
    background-color: #c4cfcf;
    padding-top: 5px;
}

.header-img {
    height: 80%;
    width: auto;
    margin: auto 0;
}

.card-scroller {
    height: 90%;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.card {
    background-color: #c4cfcf;
}

.card-image {
    height: 100%;
    width: 100%;
}

/* Scrollbar styles */
::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-track {
    border: 1px solid #c4cfcf;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #c4cfcf;  
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #c4cfcf;  
}