:root {
  --percent: 50%;
}

.card-viewer {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  .cardholder {
    width: 40%;
    height: 500px;
    background-color: whitesmoke;
    border-radius: 10px;
    overflow: hidden;
    margin: 0 1.5em;
  }
  
  @media (max-width: 650px) {
    .card-viewer {
        flex-direction: column;
        width: 100%;
    }
  
    .cardholder {
        margin: 1em 0;
        width: auto;
        height: 500px;
    }
  }
  
  .toolbar {
    background-color: #c4cfcf;
    padding-top: 5px;
  }
  
  .header-img {
    height: 80%;
    width: auto;
    margin: auto 0;
  }
  
  .card-scroller {
    height: 90%;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  
  .card {
    background-color: gainsboro;
    margin: 1em;
    padding: 1em;
  }
  
  .card-image {
    height: 100%;
    width: 100%;
  }
  
  /* Scrollbar styles */
  ::-webkit-scrollbar {
    width: 12px;
    height: 12px;
  }
  
  ::-webkit-scrollbar-track {
    border: 1px solid #c4cfcf;
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,.7);  
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(0,0,0,.7);
  }

  .progress-holder {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
}

#percentage-bar {
    height: 5px;
    border-radius: 1px;
    background: linear-gradient(left, #03244d, #a8a8a8 70%, #dd550c);
}

.progress-bar__primary {
    background: transparent;
    text-align: center;
    vertical-align: middle;
    color: black;
    top: .2em;
    z-index: 0;
}

.progress-bar__secondary {
    background: transparent;
    text-align: center;
    color: black;
    top: .5em;
    right: 0;
}

@media screen and (max-width: 500px) {
    .progress-holder {
        width: 100%;
    }
}